#parse("common/utils.vm")

#sparql($data)
  SELECT ?VALUE WHERE
  {
    GRAPH descriptor:compound
    {
      $entity sio:has-value ?VALUE.
    }
  }
#end

<span style="white-space: pre-wrap; word-break: break-all;">#escapeHTML($data.VALUE)</span>
<br/>
<small style="color:gray">hydrogen bond donor count<small>
