#parse("common/utils.vm")

#sparql($data)
  SELECT ?VALUE FROM descriptor:compound WHERE
  {
    $entity sio:has-value ?VALUE.
  }
#end

<span style="white-space: pre-wrap; word-break: break-all;">#escapeHTML($data.VALUE)</span>
<br/>
<small style="color:gray">total formal charge<small>
