#parse("common/utils.vm")

#sparql($data)
  SELECT ?VALUE WHERE
  {
    GRAPH descriptor:compound
    {
      $entity sio:has-value ?VALUE.
    }
  }
#end

<span style="white-space: pre-wrap; word-break: break-all;">#escapeHTML($data.VALUE) &#8491;<sup>2</sup></span>
<br/>
<small style="color:gray">topological polar surface area<small>
