#parse("common/utils.vm")


<style scoped>
#include("css/chebi.css")
</style>


#sparql($file)
SELECT ?MOL ?SOURCE WHERE
{
  $entity chebi:molFileValue ?MOL.

  OPTIONAL { $entity chebi:source ?SOURCE. }
}
#end


<div class="VET-Page">
<div class="VET-BoxedSection">
	<pre style="white-space: pre-wrap; word-break: break-all;">#escapeHTML($file.MOL)</pre>
	<hr/>
	<small style="color:gray">Source: #escapeHTML($file.SOURCE)</small>
</div>
</div>
