#parse("common/utils.vm")


#sparql($base)
SELECT ?ID ?STAR WHERE
{
  $entity chebi:primaryIdentifier ?ID.
  $entity chebi:star ?STAR.
}
#end

#sparql($mol)
SELECT ?MOL WHERE
{
  $entity chebi:defaultMolFile ?MOL.
}
#end


<div class="VET-BoxedSection">
  <table>
    <tr>

      #if( $mol.count > 0 )
      <td valign="top">
        <img src="sources?w=200&id=$base.ID.value" height="200" width="200">
      </td>
      #end

      <td valign="top">
        <table class="VET-DataTable">
          <colgroup>
            <col style="width:140px"/>
            <col/>
          </colgroup>
          <tbody>

            #sparql($name)
              SELECT ?NODE ?NAME WHERE
              {
                $entity chebi:chebiName ?NODE.
                ?NODE chebi:nameValue ?NAME.
              }
            #end

            <tr>
              <td>ChEBI Name</td>
              <td id="SEL-#entityID($name.NODE)"><b>#escapeChEBI($name.NAME)</b></td>
            </tr>

            <tr>
              <td>ChEBI ID</td>
              <td>#url($entity)<b>CHEBI:#escapeHTML($base.ID)</b>#end</td>
            </tr>

            #sparql($def)
              SELECT ?DEF WHERE
              {
                $entity chebi:definition ?DEF.
              }
            #end

            #if($def.DEF)
            <tr>
              <td>Definition</td>
              <td>#escapeChEBI($def.DEF)</td>
            </tr>  
            #end

            <tr>
              <td>Stars</td>
              <td>
              #if($base.STAR.value == "3")
                <img src="images/chebi/goldenstar.png"><img src="images/chebi/goldenstar.png"><img src="images/chebi/goldenstar.png">
              #elseif($base.STAR.value == "2")
                <img src="images/chebi/goldenstar.png"><img src="images/chebi/goldenstar.png"><img src="images/chebi/silverstar.png">
              #elseif($base.STAR.value == "1")
                <img src="images/chebi/goldenstar.png"><img src="images/chebi/silverstar.png"><img src="images/chebi/silverstar.png">
              #end
              </td>
            </tr>

            #sparql($secondary)
              SELECT ?ID WHERE
              {
                $entity chebi:secondaryIdentifier ?ID.
              }
            #end

            #if($secondary.count > 0)
            <tr>
              <td>Secondary ChEBI IDs</td>
              <td>
              #foreach( $sid in $secondary )
                CHEBI:#escapeHTML($sid.ID)#if($velocityCount < $secondary.count), #end
              #end
              </td>                      
            </tr>
            #end

            #sparql($comments)
              SELECT ?COMMENT ?TEXT ?DATE WHERE
              {
                $entity chebi:comment ?COMMENT.
                ?COMMENT chebi:text ?TEXT.
                ?COMMENT chebi:createdOn ?DATE.
              }
            #end
            
            #if($comments.count > 0)
            <tr>
              <td>Comments</td>
              <td>
              #foreach( $comment in $comments )
                <div id="SEL-#entityID($comment.COMMENT)">
                  #escapeChEBI($comment.TEXT)
                  <br/>
                  <span class="VET-date">created on: #escapeHTML($comment.DATE)</span>
                </div>
                #if($velocityCount < $comments.count)<hr/>#end
              #end
              </td>                      
            </tr>
            #end

          </tbody>
        </table>

      </td>
    </tr>
  </table>
</div>
