#parse("common/utils.vm")


#sparql($formulas)
  SELECT ?NODE ?FORMULA WHERE
  {
    $entity chebi:formula ?NODE.
    ?NODE chebi:formulaValue ?FORMULA.
  }
#end

#sparql($charge)
  SELECT ?NODE ?CHARGE WHERE
  {
    $entity chebi:charge ?NODE.
    ?NODE chebi:chargeValue ?CHARGE.
  }
#end

#sparql($mass)
SELECT ?NODE ?MASS WHERE
{
  $entity chebi:mass ?NODE.
  ?NODE chebi:massValue ?MASS.
}
#end

#sparql($inchis)
  SELECT ?NODE ?INCHI WHERE
  {
    $entity chebi:inchi ?NODE.
    ?NODE chebi:inchiValue ?INCHI.
  }
#end

#sparql($inchikeys)
  SELECT ?NODE ?KEY WHERE
  {
    $entity chebi:inchiKey ?NODE.
	?NODE chebi:inchiKeyValue ?KEY.
  }
#end

#sparql($smilesset)
  SELECT ?NODE ?SMILES WHERE
  {
    $entity chebi:smiles ?NODE.
    ?NODE chebi:smilesValue ?SMILES.
  }
#end



#if($formulas.count > 0 || $charge.CHARGE || $mass.MASS || $inchis.count > 0 || $inchikeys.count > 0 || $smilesset.count > 0)

<div class="VET-BoxedSection">
  <table class="VET-DataTable">
    <colgroup>
      <col style="width:100px"/>
      <col/>
    </colgroup>
    <tbody>

      #foreach( $formula in $formulas )
      <tr>
        <td>Formula</td>
        <td id="SEL-#entityID($formula.NODE)">#escapeHTML($formula.FORMULA)</td>
      </tr>
      #end

      #if($charge.CHARGE)
      <tr>
        <td>Net Charge</td>
        <td id="SEL-#entityID($charge.NODE)">#escapeHTML($charge.CHARGE)</td>
      </tr>
      #end

      #if($mass.MASS)
      <tr>
        <td>Average Mass</td>
        <td id="SEL-#entityID($mass.NODE)">#escapeHTML($mass.MASS)</td>
      </tr>
      #end

      #foreach( $inchi in $inchis )
      <tr>
        <td>InChI</td>
        <td id="SEL-#entityID($inchi.NODE)" style="word-break: break-all;">#escapeHTML($inchi.INCHI)</td>
      </tr>
      #end

      #foreach( $inchikey in $inchikeys )
      <tr>
        <td>InChIKey</td>
        <td id="SEL-#entityID($inchikey.NODE)" style="word-break: break-all;">#escapeHTML($inchikey.KEY)</td>
      </tr>
      #end

      #foreach( $smiles in $smilesset )
      <tr>
        <td>SMILES</td>
        <td id="SEL-#entityID($smiles.NODE)" style="word-break: break-all;">#escapeHTML($smiles.SMILES)</td>
      </tr>
      #end

    </tbody>
  </table>
</div>
#end
