#parse("common/utils.vm")


#sparql($links)
  SELECT ?NODE ?ACCESSION ?SOURCE ?LABEL WHERE
  {
    $entity ?P ?NODE.
    ?P rdfs:subPropertyOf* chebi:databaseLink.
    
    ?NODE chebi:accessionValue ?ACCESSION.
    ?NODE chebi:source ?SOURCE.
    ?NODE rdf:type ?TYPE.
    ?TYPE rdfs:label ?LABEL.
  }
#end



#if($links.count > 0)
<div class="VET-Section">
  <table class="VET-LabeledDataTable">
    <colgroup>
      <col style="width:80%"/>
      <col style="width:20%"/>
    </colgroup>
    <tbody>
      <tr>
        <td>Citations</td>
        <td>Sources</td>
      </tr>

      #foreach($row in $links)
      <tr id="SEL-#entityID($row.NODE)">
        <td>
          #escapeHTML($row.ACCESSION)
          #comments($row.NODE)
        </td>
        <td>#escapeHTML($row.SOURCE)</td>
      </tr>
      #end

    </tbody>
  </table>
</div>
#end



<!----------------------------------------------------------------------------------------------------------------------->



#sparql($citations)
  SELECT ?NODE ?ACCESSION ?SOURCE ?LABEL WHERE
  {
    $entity ?P ?NODE.
    ?P rdfs:subPropertyOf* chebi:citation.
    
    ?NODE chebi:accessionValue ?ACCESSION.
    ?NODE chebi:source ?SOURCE.
    ?NODE rdf:type ?TYPE.
    ?TYPE rdfs:label ?LABEL.
  }
#end



#if($citations.count > 0)
<div class="VET-Section">
  <table class="VET-LabeledDataTable">
    <colgroup>
      <col style="width:50%"/>
      <col style="width:30%"/>
      <col style="width:20%"/>
    </colgroup>
    <tbody>
      <tr>
        <td>Citations</td>
        <td>Types</td>
        <td>Sources</td>
      </tr>

      #foreach($row in $citations)
	  <tr id="SEL-#entityID($row.NODE)">
        <td>
          #escapeHTML($row.ACCESSION)
          #comments($row.NODE)
        </td>
        <td>#escapeHTML($row.LABEL)</td>
        <td>#escapeHTML($row.SOURCE)</td>
      </tr>
      #end

    </tbody>
  </table>
</div>
#end



<!----------------------------------------------------------------------------------------------------------------------->



#sparql($registries)
  SELECT ?NODE ?ACCESSION ?SOURCE ?LABEL WHERE
  {
    $entity ?P ?NODE.
    ?P rdfs:subPropertyOf* chebi:registryNumber.
    
    ?NODE chebi:accessionValue ?ACCESSION.
    ?NODE chebi:source ?SOURCE.
    ?NODE rdf:type ?TYPE.
    ?TYPE rdfs:label ?LABEL.
  }
#end



#if($registries.count > 0)
<div class="VET-Section">
  <table class="VET-LabeledDataTable">
    <colgroup>
      <col style="width:50%"/>
      <col style="width:30%"/>
      <col style="width:20%"/>
    </colgroup>
    <tbody>
      <tr>
        <td>Registry Numbers</td>
        <td>Types</td>
        <td>Sources</td>
      </tr>

      #foreach($row in $registries)
	  <tr id="SEL-#entityID($row.NODE)">
        <td>
          #escapeHTML($row.ACCESSION)
          #comments($row.NODE)
        </td>
        <td>#escapeHTML($row.LABEL)</td>
        <td>#escapeHTML($row.SOURCE)</td>
      </tr>
      #end

    </tbody>
  </table>
</div>
#end




<!----------------------------------------------------------------------------------------------------------------------->



#*
#sparql($references)
  SELECT ?NODE ?REFERENCE ?LOCATION ?NAME ?SOURCE ?LABEL WHERE
  {
    $entity ?P ?NODE.
    ?P rdfs:subPropertyOf* chebi:reference.
    
    ?NODE chebi:referenceValue ?REFERENCE.
    ?NODE chebi:referenceName ?NAME.
    ?NODE chebi:source ?SOURCE.
    ?NODE rdf:type ?TYPE.
    ?TYPE rdfs:label ?LABEL.
    
    OPTIONAL {?NODE chebi:locationInReference ?LOCATION.}
  }
#end



#if($references.count > 0)
<div class="VET-Section">
  <table class="VET-LabeledDataTable">
    <colgroup>
      <col style="width:20%"/>
      <col style="width:30%"/>
      <col style="width:30%"/>
      <col style="width:20%"/>
    </colgroup>
    <tbody>
      <tr>
        <td>References</td>
        <td>Reference Names</td>
        <td>Types</td>
        <td>Sources</td>
      </tr>

      #foreach($row in $references)
	  <tr id="SEL-#entityID($row.NODE)">
        <td>
          #escapeHTML($row.REFERENCE)#if($row.LOCATION)/#escapeHTML($row.LOCATION)#end
          #comments($row.NODE)
        </td>
        <td>#escapeHTML($row.NAME)</td>
        <td>#escapeHTML($row.LABEL)</td>
        <td>#escapeHTML($row.SOURCE)</td>
      </tr>
      #end

    </tbody>
  </table>
</div>
#end
*#
