<table style="width:100%">
  <tbody>
    <tr>
      <td style="width:90px">
        <table style="width:80px">
          <tbody>
            <tr>
              <td><img loading='lazy' src="drugbank/compound/image?w=160&id=$entity.getValue().replaceFirst(".*/DB", "")" height="80" width="80"></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table>
          <tbody>
            <tr>
              <td>$entity.getValue().replaceFirst(".*/", "")</td>
            </tr>
            <tr>
              <td><small style="color:gray">#escapeIRI($entity)<small></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
