#sparql($bioassay)
  SELECT ?TITLE FROM pubchem:bioassay WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($description)
  SELECT ?VALUE FROM pubchem:bioassay WHERE
  {
    ?D sio:SIO_000011 $entity.
    ?D rdf:type sio:SIO_000136.
    ?D sio:SIO_000300 ?VALUE.
  }
#end

#sparql($protocol)
  SELECT ?VALUE FROM pubchem:bioassay WHERE
  {
    ?D sio:SIO_000011 $entity.
    ?D rdf:type sio:SIO_001041.
    ?D sio:SIO_000300 ?VALUE.
  }
#end

#sparql($comment)
  SELECT ?VALUE FROM pubchem:bioassay WHERE
  {
    ?D sio:SIO_000011 $entity.
    ?D rdf:type sio:SIO_001167.
    ?D sio:SIO_000300 ?VALUE.
  }
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
    (<a href="https://pubchem.ncbi.nlm.nih.gov/bioassay/$entity.getValue().replaceFirst(".*/AID","")" target="_blank">open in pubchem</a>)
  </div>

  #if($bioassay.TITLE)
  <div class="VET-BoxedSection">
    <div>#escapeHTML($bioassay.TITLE)</div>
  </div>
  #end

  #if($description.VALUE)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Description</div>
    <div style="white-space: pre-wrap">$description.VALUE.value.trim()</div>
  </div>
  #end

  #if($protocol.VALUE)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Protocol</div>
    <div style="white-space: pre-wrap">$protocol.VALUE.value.trim()</div>
  </div>
  #end

  #if($comment.VALUE)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Comment</div>
    <div style="white-space: pre-wrap">$comment.VALUE.value.trim()</div>
  </div>
  #end
</div>
