#sparql($compound)
  SELECT ?NAME FROM pubchem:compound FROM descriptor:compound WHERE
  {
    $entity sio:SIO_000008 ?D.
    ?D rdf:type sio:CHEMINF_000382.
    ?D sio:SIO_000300 ?NAME.
  }
#end

#sparql($structure)
  SELECT (true as ?R) FROM pubchem:compound WHERE
  {
    ?S rdf:type sio:SIO_011120.
    ?S sio:SIO_000011 $entity.
    ?S sio:SIO_000300 ?V.
  }
#end

#sparql($descriptors)
  SELECT ?TITLE ?VALUE FROM pubchem:compound FROM descriptor:compound WHERE
  {
    $entity sio:SIO_000008 ?D.
    ?D rdf:type ?TYPE.
    ?D sio:SIO_000300 ?VALUE.
  }
  VALUES (?TYPE ?TITLE ?D)
  {
    (sio:CHEMINF_000335 "molecular formula" UNDEF)
    (sio:CHEMINF_000379 "isomeric SMILES" UNDEF)
    (sio:CHEMINF_000376 "canonical SMILES" UNDEF)
    (sio:CHEMINF_000396 "IUPAC InChI" UNDEF)
    (sio:CHEMINF_000338 "exact mass" UNDEF)
    (sio:CHEMINF_000334 "molecular weight" UNDEF)
    (sio:CHEMINF_000337 "monoisotopic weight" UNDEF)
    (sio:CHEMINF_000336 "total formal charge" UNDEF)
    (sio:CHEMINF_000395 "XLogP3-AA" <$entity.getValue().replaceFirst("compound", "descriptor")_XLogP3-AA>)
    (sio:CHEMINF_000395 "XLogP3" <$entity.getValue().replaceFirst("compound", "descriptor")_XLogP3>)
    (sio:CHEMINF_000392 "TPSA" UNDEF)
    (sio:CHEMINF_000390 "structure complexity" UNDEF)
    (sio:CHEMINF_000391 "tautomer count" UNDEF)
    (sio:CHEMINF_000388 "hydrogen bond acceptor count" UNDEF)
    (sio:CHEMINF_000370 "defined atom stereo count" UNDEF)
    (sio:CHEMINF_000371 "defined bond stereo count" UNDEF)
    (sio:CHEMINF_000375 "undefined bond stereo count" UNDEF)
    (sio:CHEMINF_000372 "isotope atom count" UNDEF)
    (sio:CHEMINF_000369 "covalent unit count" UNDEF)
    (sio:CHEMINF_000387 "hydrogen bond donor count" UNDEF)
    (sio:CHEMINF_000373 "non-hydrogen atom count" UNDEF)
    (sio:CHEMINF_000389 "rotatable bond count" UNDEF)
    (sio:CHEMINF_000374 "undefined atom stereo count" UNDEF)
  }
#end

#sparql($synonyms)
  SELECT ?NAME FROM pubchem:synonym WHERE
  {
    ?A sio:SIO_000011 $entity.
    ?A sio:SIO_000300 ?NAME.
  }
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
    (<a href="https://pubchem.ncbi.nlm.nih.gov/compound/$entity.getValue().replaceFirst(".*/CID", "")" target="_blank">open in pubchem</a>)
  </div>

  #if($compound.NAME)
  <div class="VET-BoxedSection">
    <div>#escapeHTML($compound.NAME)</div>
  </div>
  #end

  #if($structure.count > 0)
  <div class="VET-BoxedSection">
    <table style="width:100%;">
      <tr>
        <td align="center" style="text-align: center;">
          <img src="compound/image?w=800&id=$entity.getValue().replaceFirst(".*/CID", "")" height="400" width="400">
        </td>
      </tr>
    </table>
  </div>
  #end

  #if($descriptors.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Descriptors</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:220px"/>
          <col/>
        </colgroup>

        #foreach($descriptor in $descriptors)
        <tr>
          <td>$descriptor.TITLE.getValue()</td>
          <td><span style="white-space: pre-wrap; word-break: break-all;">#escapeHTML($descriptor.VALUE)</span></td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end

  #if($synonyms.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Synonyms</div>
    <div>
      <table class="VET-Table">
        #foreach($synonym in $synonyms)
        <tr>
          <td>#escapeHTML($synonym.NAME)</td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end
</div>
