#set($PSSMID = $entity.getValue().replaceAll(".*/PSSMID",""))


<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">conserveddomain:PSSMID$PSSMID</span>
    (<a href="https://www.ncbi.nlm.nih.gov/Structure/cdd/cddsrv.cgi?uid=$PSSMID" target="_blank">open in pubchem</a>)
  </div>

  #sparql($title)
    SELECT ?TITLE FROM pubchem:conserveddomain WHERE
    {
      $entity dcterms:title ?TITLE
    }
  #end

  #if($title.TITLE)
  <div class="VET-BoxedSection">
    <div>#escapeHTML($title.TITLE)</div>
  </div>
  #end


  #sparql($abstract)
    SELECT ?ABSTRACT FROM pubchem:conserveddomain WHERE
    {
      $entity dcterms:abstract ?ABSTRACT
    }
  #end

  #if($abstract.ABSTRACT)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Abstract</div>
    <div>#escapeHTML($abstract.ABSTRACT)</div>
  </div>
  #end


  #sparql($references)
    SELECT ?REFERENCE ?TITLE ?CITATION FROM pubchem:conserveddomain FROM pubchem:reference WHERE
    {
      $entity cito:isDiscussedBy ?REFERENCE.

      OPTIONAL
      {
        ?REFERENCE dcterms:title ?TITLE.
      }

      OPTIONAL
      {
        ?REFERENCE dcterms:bibliographicCitation ?CITATION.
      }
    }
    ORDER BY (?REFERENCE)
  #end

  #if($references.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">References</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:100px"/>
          <col/>
        </colgroup>

        #foreach($reference in $references)
        <tr>
          <td>
            #url($reference.REFERENCE)$reference.REFERENCE.getValue().replaceAll(".*/", "")#end
          </td>
          <td>
            #if($reference.TITLE)
            <b>#escapeHTML($reference.TITLE)</b>
            #end
            #if($reference.CITATION)
            #escapeHTML($reference.CITATION)
            #end
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end

</div>
