#sparql($domain)
  SELECT ?TITLE FROM pubchem:conserveddomain WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($abstract)
  SELECT ?ABSTRACT FROM pubchem:conserveddomain WHERE
  {
    $entity dcterms:abstract ?ABSTRACT
  }
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
    (<a href="https://www.ncbi.nlm.nih.gov/Structure/cdd/cddsrv.cgi?uid=$entity.getValue().replaceFirst(".*/PSSMID","")" target="_blank">open in pubchem</a>)
  </div>

  #if($domain.TITLE)
  <div class="VET-BoxedSection">
    <div>#escapeHTML($domain.TITLE)</div>
  </div>
  #end

  #if($abstract.ABSTRACT)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Abstract</div>
    <div>#escapeHTML($abstract.ABSTRACT)</div>
  </div>
  #end
</div>
