#set($GID = $entity.getValue().replaceAll(".*/GID",""))


<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">gene:GID$GID</span>
    (<a href="https://www.ncbi.nlm.nih.gov/gene/?term=$GID" target="_blank">open in pubchem</a>)
  </div>

  #sparql($symbol)
    SELECT ?SYMBOL FROM pubchem:gene WHERE
    {
      $entity bao:BAO_0002870 ?SYMBOL
    }
  #end

  #sparql($title)
    SELECT ?TITLE FROM pubchem:gene WHERE
    {
      $entity skos:prefLabel ?TITLE
    }
  #end

  #sparql($organism)
    SELECT ?NAME FROM pubchem:gene FROM dataset:ontology WHERE
    {
      $entity up:organism / rdfs:label ?NAME
    }
  #end

  #if($title.TITLE)
  <div class="VET-BoxedSection">
    <div>
      #if($symbol.SYMBOL)#escapeHTML($symbol.SYMBOL): #end#if($title.TITLE)#escapeHTML($title.TITLE)#end
      #if($organism.NAME)
      <br/>
      <small style="color:gray">#escapeHTML($organism.NAME)</small>
      #end
    </div>
  </div>
  #end


  #sparql($alternatives)
    SELECT ?TITLE FROM pubchem:gene WHERE
    {
      $entity skos:altLabel $TITLE
    }
  #end

  #if($alternatives.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Alternative Titles</div>
    <div>
      <table class="VET-Table">
        #foreach($alternative in $alternatives)
        <tr>
          <td>
            #escapeHTML($alternative.TITLE)
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end


  #sparql($pathways)
    SELECT ?PATHWAY ?TITLE ?ORGANISM FROM pubchem:gene FROM pubchem:pathway FROM dataset:ontology WHERE
    {
      ?PATHWAY rdf:type bp:Pathway.
      ?PATHWAY obo:RO_0000057 $entity.
      ?PATHWAY dcterms:title ?TITLE.

      OPTIONAL
      {
        ?PATHWAY up:organism / rdfs:label ?ORGANISM
      }
    }
  #end

  #if($pathways.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Pathways</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:100px"/>
          <col/>
        </colgroup>

        #foreach($pathway in $pathways)
        <tr>
          <td>
            #url($pathway.PATHWAY)$pathway.PATHWAY.getValue().replaceAll(".*/", "")#end
          </td>
          <td>
            #escapeHTML($pathway.TITLE)
            #if($pathway.ORGANISM)
            <br/>
            <small style="color:gray">#escapeHTML($pathway.ORGANISM)</small>
            #end
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end


  #sparql($references)
    SELECT ?REFERENCE ?TITLE ?CITATION FROM pubchem:gene FROM pubchem:reference WHERE
    {
      $entity cito:isDiscussedBy ?REFERENCE.

      OPTIONAL
      {
        ?REFERENCE dcterms:title ?TITLE.
      }

      OPTIONAL
      {
        ?REFERENCE dcterms:bibliographicCitation ?CITATION.
      }
    }
    ORDER BY (?REFERENCE)
  #end

  #if($references.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">References</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:100px"/>
          <col/>
        </colgroup>

        #foreach($reference in $references)
        <tr>
          <td>
            #url($reference.REFERENCE)$reference.REFERENCE.getValue().replaceAll(".*/", "")#end
          </td>
          <td>
            #if($reference.TITLE)
            <b>#escapeHTML($reference.TITLE)</b>
            #end
            #if($reference.CITATION)
            #escapeHTML($reference.CITATION)
            #end
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end

</div>
