#sparql($gene)
  SELECT ?TITLE FROM pubchem:gene WHERE
  {
    $entity skos:prefLabel ?TITLE
  }
#end

#sparql($symbol)
  SELECT ?SYMBOL FROM pubchem:gene WHERE
  {
    $entity bao:BAO_0002870 / sio:SIO_000300 ?SYMBOL
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:gene FROM pubchem:taxonomy WHERE
  {
    $entity up:organism / skos:prefLabel ?NAME
  }
#end

#sparql($alternatives)
  SELECT ?TITLE FROM pubchem:gene WHERE
  {
    $entity skos:altLabel ?TITLE
  }
#end

#sparql($pathways)
  SELECT ?PATHWAY ?TITLE ?ORGANISM FROM pubchem:gene FROM pubchem:pathway FROM pubchem:taxonomy WHERE
  {
    ?PATHWAY rdf:type bp:Pathway.
    ?PATHWAY obo:RO_0000057 $entity.
    ?PATHWAY dcterms:title ?TITLE.

    OPTIONAL
    {
      ?PATHWAY up:organism / skos:prefLabel ?ORGANISM
    }
  }
#end

#sparql($references)
  SELECT ?REFERENCE ?TITLE ?CITATION FROM pubchem:gene FROM pubchem:reference WHERE
  {
    $entity cito:isDiscussedBy ?REFERENCE.

    OPTIONAL
    {
      ?REFERENCE dcterms:title ?TITLE.
    }

    OPTIONAL
    {
      ?REFERENCE dcterms:bibliographicCitation ?CITATION.
    }
  }
  ORDER BY (?REFERENCE)
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
    (<a href="https://www.ncbi.nlm.nih.gov/gene/?term=$entity.getValue().replaceFirst(".*/GID","")" target="_blank">open in pubchem</a>)
  </div>

  #if($gene.TITLE)
  <div class="VET-BoxedSection">
    <div>
      #if($symbol.SYMBOL)#escapeHTML($symbol.SYMBOL): #end#escapeHTML($gene.TITLE)
      #if($organism.NAME)
      <br/>
      <small style="color:gray">#escapeHTML($organism.NAME)</small>
      #end
    </div>
  </div>
  #end

  #if($alternatives.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Alternative Titles</div>
    <div>
      <table class="VET-Table">
        #foreach($alternative in $alternatives)
        <tr>
          <td>
            #escapeHTML($alternative.TITLE)
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end

  #if($pathways.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Pathways</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:100px"/>
          <col/>
        </colgroup>

        #foreach($pathway in $pathways)
        <tr>
          <td>
            #url($pathway.PATHWAY)$pathway.PATHWAY.getValue().replaceFirst(".*/", "")#end
          </td>
          <td>
            #escapeHTML($pathway.TITLE)
            #if($pathway.ORGANISM)
            <br/>
            <small style="color:gray">#escapeHTML($pathway.ORGANISM)</small>
            #end
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end

  #if($references.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">References</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:100px"/>
          <col/>
        </colgroup>

        #foreach($reference in $references)
        <tr>
          <td>
            #url($reference.REFERENCE)$reference.REFERENCE.getValue().replaceFirst(".*/", "")#end
          </td>
          <td>
            #if($reference.TITLE)
            <b>#escapeHTML($reference.TITLE)</b>
            #end
            #if($reference.CITATION)
            #escapeHTML($reference.CITATION)
            #end
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end
</div>
