#sparql($pathway)
  SELECT ?TITLE FROM pubchem:pathway WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:pathway FROM pubchem:taxonomy WHERE
  {
    $entity up:organism / skos:prefLabel ?NAME
  }
#end

#sparql($match)
  SELECT ?MATCH FROM pubchem:pathway WHERE
  {
    $entity skos:exactMatch ?MATCH
  }
#end

#sparql($components)
  SELECT ?COMPONENT ?TITLE ?ORGANISM FROM pubchem:pathway FROM pubchem:taxonomy WHERE
  {
    $entity bp:pathwayComponent ?COMPONENT.

    OPTIONAL
    {
      ?COMPONENT dcterms:title ?TITLE.
    }

    OPTIONAL
    {
      ?COMPONENT up:organism / skos:prefLabel ?ORGANISM
    }
  }
  ORDER BY (?COMPONENT)
#end

#sparql($references)
  SELECT ?REFERENCE ?TITLE ?CITATION FROM pubchem:pathway FROM pubchem:reference WHERE
  {
    $entity cito:isDiscussedBy ?REFERENCE.

    OPTIONAL
    {
      ?REFERENCE dcterms:title ?TITLE.
    }

    OPTIONAL
    {
      ?REFERENCE dcterms:bibliographicCitation ?CITATION.
    }
  }
  ORDER BY (?REFERENCE)
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
    #if($match.MATCH)
      (<a href="$match.MATCH.getValue()" target="_blank">open in source</a>)
    #end
  </div>

  #if($pathway.TITLE)
  <div class="VET-BoxedSection">
    <div>
      #escapeHTML($pathway.TITLE)
      #if($organism.NAME)
      <br/>
      <small style="color:gray">#escapeHTML($organism.NAME)</small>
      #end
    </div>
  </div>
  #end

  #if($components.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Components</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:100px"/>
          <col/>
        </colgroup>

        #foreach($component in $components)
        <tr>
          <td>
            #url($component.COMPONENT)$component.COMPONENT.getValue().replaceFirst(".*/","")#end
          </td>
          <td>
            #if($component.TITLE)
            #escapeHTML($component.TITLE)
            #end
            #if($component.ORGANISM)
            <br/>
            <small style="color:gray">#escapeHTML($component.ORGANISM)</small>
            #end
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end

  #if($references.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">References</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:100px"/>
          <col/>
        </colgroup>

        #foreach($reference in $references)
        <tr>
          <td>
            #url($reference.REFERENCE)$reference.REFERENCE.getValue().replaceFirst(".*/", "")#end
          </td>
          <td>
            #if($reference.TITLE)
            <b>#escapeHTML($reference.TITLE)</b>
            #end
            #if($reference.CITATION)
            #escapeHTML($reference.CITATION)
            #end
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end
</div>
