#sparql($protein)
  SELECT ?LABEL FROM pubchem:protein WHERE
  {
    $entity skos:prefLabel ?LABEL
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:protein FROM pubchem:taxonomy WHERE
  {
    $entity up:organism / skos:prefLabel ?NAME
  }
#end

#sparql($pathways)
  SELECT ?PATHWAY ?TITLE ?ORGANISM FROM pubchem:protein FROM pubchem:pathway FROM pubchem:taxonomy WHERE
  {
    ?PATHWAY rdf:type bp:Pathway.
    ?PATHWAY obo:RO_0000057 $entity.
    ?PATHWAY dcterms:title ?TITLE.

    OPTIONAL
    {
      ?PATHWAY up:organism / skos:prefLabel ?ORGANISM
    }
  }
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
    (<a href="https://www.ncbi.nlm.nih.gov/protein/$entity.getValue().replaceFirst(".*/ACC","")" target="_blank">open in pubchem</a>)
  </div>

  #if($protein.LABEL)
  <div class="VET-BoxedSection">
    <div>
      #escapeHTML($protein.LABEL)
      #if($organism.NAME)
      <br/>
      <small style="color:gray">#escapeHTML($organism.NAME)</small>
      #end
    </div>
  </div>
  #end

  #if($pathways.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Pathways</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:100px"/>
          <col/>
        </colgroup>

        #foreach($pathway in $pathways)
        <tr>
          <td>
            #url($pathway.PATHWAY)$pathway.PATHWAY.getValue().replaceFirst(".*/", "")#end
          </td>
          <td>
            #escapeHTML($pathway.TITLE)
            #if($pathway.ORGANISM)
            <br/>
            <small style="color:gray">#escapeHTML($pathway.ORGANISM)</small>
            #end
          </td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end
</div>
