#sparql($reference)
  SELECT ?TITLE FROM pubchem:reference WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($citation)
  SELECT ?CITATION FROM pubchem:reference WHERE
  {
    $entity dcterms:bibliographicCitation ?CITATION
  }
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
  </div>

  #if($reference.TITLE)
  <div class="VET-BoxedSection">
    <div>
      #escapeHTML($reference.TITLE)
      #if($citation.CITATION)
      <br/><br/>
      #escapeHTML($citation.CITATION)
      #end
    </div>
  </div>
  #end
</div>
