#set($SID = $entity.toString().replaceAll(".*/SID", "").replaceAll(">",""))


<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">substance:SID$SID</span>
    (<a href="https://pubchem.ncbi.nlm.nih.gov/substance/SID$SID" target="_blank">open in pubchem</a>)
  </div>

  #sparql($compound)
    SELECT ?COMPOUND FROM pubchem:substance WHERE
    {
      $entity sio:CHEMINF_000477 ?COMPOUND
    }
  #end

  #if($compound.count > 0)
  #set($CID = $compound.COMPOUND.toString().replaceAll(".*/CID", "").replaceAll(">",""))

  #sparql($iupac)
    SELECT ?NAME FROM descriptor:compound WHERE
    {
      descriptor:CID${CID}_Preferred_IUPAC_Name sio:has-value ?NAME
    }
  #end

  #if($iupac.count > 0)
    <div class="VET-BoxedSection">
      <div>#escapeHTML($iupac.NAME)</div>
    </div>
  #end


  #sparql($structure)
    SELECT (true as ?R) WHERE
    {
      ?S rdf:type sio:SIO_011120.
      ?S sio:is-attribute-of compound:CID$CID.
      ?S sio:has-value ?V.
    }
  #end

  #if($structure.count > 0)
    <div class="VET-BoxedSection">
      <table style="width:100%;">
        <tr>
          <td align="center" style="text-align: center;"><img src="compound/image?w=800&id=$CID" alt="CID$CID" height="400" width="400"></td>
        </tr>
      </table>
    </div>
  #end


  #sparql($descriptors)
    SELECT ?TITLE ?VALUE FROM descriptor:compound WHERE
    {
      ?NODE sio:has-value ?VALUE
    }
    VALUES (?NODE ?TITLE)
    {
      (descriptor:CID${CID}_Molecular_Formula            "molecular formula")
      (descriptor:CID${CID}_Isomeric_SMILES              "isomeric SMILES")
      (descriptor:CID${CID}_Canonical_SMILES             "canonical SMILES")
      (descriptor:CID${CID}_IUPAC_InChI                  "IUPAC InChI")
      (descriptor:CID${CID}_Exact_Mass                   "exact mass")
      (descriptor:CID${CID}_Molecular_Weight             "molecular weight")
      (descriptor:CID${CID}_Mono_Isotopic_Weight         "mono isotopic weight")
      (descriptor:CID${CID}_Total_Formal_Charge          "total formal charge")
      (descriptor:CID${CID}_XLogP3-AA                    "XLogP3-AA")
      (descriptor:CID${CID}_TPSA                         "TPSA")
      (descriptor:CID${CID}_Structure_Complexity         "structure complexity")
      (descriptor:CID${CID}_Tautomer_Count               "tautomer count")
      (descriptor:CID${CID}_Hydrogen_Bond_Acceptor_Count "hydrogen bond acceptor count")
      (descriptor:CID${CID}_Defined_Atom_Stereo_Count    "defined atom stereo count")
      (descriptor:CID${CID}_Defined_Bond_Stereo_Count    "defined bond stereo count")
      (descriptor:CID${CID}_Undefined_Bond_Stereo_Count  "undefined bond stereo count")
      (descriptor:CID${CID}_Isotope_Atom_Count           "isotope atom count")
      (descriptor:CID${CID}_Covalent_Unit_Count          "covalent unit count")
      (descriptor:CID${CID}_Hydrogen_Bond_Donor_Count    "hydrogen bond donor count")
      (descriptor:CID${CID}_Non-hydrogen_Atom_Count      "non-hydrogen atom count")
      (descriptor:CID${CID}_Rotatable_Bond_Count         "rotatable bond count")
      (descriptor:CID${CID}_Undefined_Atom_Stereo_Count  "undefined atom stereo count")
    }
  #end

  #if($descriptors.count > 0)
    <div class="VET-BoxedSection">
      <div class="VET-Header">Descriptors</div>
      <div>
        <table class="VET-Table">
          <colgroup>
            <col style="width:220px"/>
            <col/>
          </colgroup>

          #foreach($descriptor in $descriptors)
            <tr>
              <td>$descriptor.TITLE.getValue()</td>
              <td><span style="white-space: pre-wrap; word-break: break-all;">#escapeHTML($descriptor.VALUE)</span></td>
            </tr>
          #end
        </table>
      </div>
    </div>
  #end


  #sparql($synonyms)
    SELECT ?NAME FROM pubchem:synonym WHERE
    {
      ?ATTR sio:is-attribute-of $entity.
      ?ATTR sio:has-value ?NAME.
    }
  #end

  #if($synonyms.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Synonyms</div>
    <div>
      <table class="VET-Table">
      #foreach($synonym in $synonyms)
        <tr>
          <td>
            #escapeHTML($synonym.NAME)
          </td>
        </tr>
      #end
      </table>
    </div>
  </div>
  #end

#end
</div>
