#sparql($data)
  SELECT ?NAME FROM isdb: FROM dataset:ontology WHERE
  {
    $entity rdf:type / rdfs:label ?NAME.
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($data.NAME)
      <td>#escapeHTML($data.NAME)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
