#parse("common/utils.vm")


#sparql($charge)
  SELECT ?CHARGE ?SOURCE WHERE
  {
    $entity chebi:chargeValue ?CHARGE.
	$entity chebi:source ?SOURCE.
  }
#end

<table style="width:100%">
  <tbody>
    <tr><td>
	  #if($charge.CHARGE.value.charAt(0) != '-' && $charge.CHARGE.value.charAt(0) != '0')+#end#escapeHTML($charge.CHARGE)
    </td></tr>
    <tr><td>
    <small style="color:gray">Source: #escapeHTML($charge.SOURCE)<small>
    </td></tr>
  </tbody>
</table>
