#parse("common/utils.vm")


#sparql($inchi)
  SELECT ?STRUCTURE ?SOURCE ?WARNING WHERE
  {
    $entity ?P ?STRUCTURE.
    ?P rdfs:domain / rdfs:subClassOf* chebi:ChemicalStructure.
	
    $entity chebi:source ?SOURCE.
      
    OPTIONAL
    {
      $entity chebi:warning ?WARNING.
    }
  }
#end



<table style="width:100%">
  <tbody>
    <tr>
      <td>
        <div style="white-space: pre-wrap; word-break: break-all;">#escapeHTML($inchi.STRUCTURE)</div>
      </td>
      #if($inchi.WARNING)
        #sparql($warnings)
          SELECT ?MESSAGE WHERE
          {
            $inchi.WARNING chebi:message ?MESSAGE.
          }
        #end
            
        <td style="width:16px">
          <img src="images/chebi/exclamation.png" width="16" title="Warnings:#foreach($warning in $warnings)&#10; - #escapeHTML($warning.MESSAGE)#end"/>
        </td>
      #end
    </tr>
    <tr>
      <td>
        <small style="color:gray">Source: #escapeHTML($inchi.SOURCE)</small>
      </td>
    </tr>
  </tbody>
</table>
