#parse("common/utils.vm")


#sparql($accession)
  SELECT ?LABEL ?VALUE ?SOURCE WHERE
  {
    $entity chebi:accessionValue ?VALUE.
    $entity rdf:type / rdfs:label ?LABEL.
    OPTIONAL { $entity chebi:source ?SOURCE. }
  }
#end



<table style="width:100%">
  <tbody>
    <tr><td>
      <b>#escapeHTML($accession.LABEL):</b>
      #escapeHTML($accession.VALUE)
    </td></tr>
    #if($accession.SOURCE)
    <tr><td>
    <small style="color:gray">Source: #escapeHTML($accession.SOURCE)<small>
    </td></tr>
    #end
  </tbody>
</table>
