#parse("common/utils.vm")


#sparql($name)
  SELECT ?NAME ?SOURCE WHERE
  {
    $entity chebi:nameValue ?NAME.
    $entity chebi:source ?SOURCE.
  }
#end

<table style="width:100%">
  <tbody>
    <tr><td>
      #escapeChEBI($name.NAME)
      #if($name.NAME.language && $name.NAME.language != "en")
        <img src="images/chebi/${name.NAME.language}-icon.png">
      #end
    </td></tr>
    <tr><td>
    <small style="color:gray">Source: #escapeHTML($name.SOURCE)<small>
    </td></tr>
  </tbody>
</table>
