#parse("common/utils.vm")


#sparql($reference)
  SELECT ?LABEL ?VALUE ?SOURCE ?ID ?LOC WHERE
  {
    $entity chebi:referenceValue ?VALUE.
    $entity rdf:type / rdfs:label ?LABEL.
    $entity chebi:referencedCompound / chebi:primaryIdentifier ?ID.
    OPTIONAL { $entity chebi:source ?SOURCE. }
    OPTIONAL { $entity chebi:locationInReference ?LOC. }
  }
#end



<table style="width:100%">
  <tbody>
    <tr><td>
      <b>$reference.LABEL:</b>
      $reference.VALUE
    </td></tr>
    #if($reference.LOC)
    <tr><td>
    <small style="color:gray">Location: #escapeHTML($reference.LOC)<small>
    </td></tr>
    #end
    <tr><td>
    <small style="color:gray">Compound: CHEBI:#escapeHTML($reference.ID)<small>
    </td></tr>
    #if($reference.SOURCE)
    <tr><td>
    <small style="color:gray">Source: #escapeHTML($reference.SOURCE)<small>
    </td></tr>
    #end
  </tbody>
</table>
