#set($BAO = $entity.toString().replaceAll(".*/", "").replaceAll(">",""))

#sparql($title)
  SELECT ?TITLE  WHERE
  {
    GRAPH pubchem:bioassay
    {
      $entity dcterms:title ?TITLE
    }
  }
#end

<table style="width:100%">
  <tbody>
    <tr><td>
      <b>$BAO</b>
    </td></tr>
    <tr><td>
    #escapeHTML($title.TITLE)
    </td></tr>
  </tbody>
</table>
