#sparql($cell)
  SELECT ?LABEL FROM pubchem:cell WHERE
  {
    $entity skos:prefLabel ?LABEL
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:cell FROM pubchem:taxonomy WHERE
  {
    $entity up:organism / skos:prefLabel ?NAME
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($cell.LABEL)
      <td>#escapeHTML($cell.LABEL)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    #if($organism.NAME)
    <tr>
      <td>#escapeHTML($organism.NAME)</td>
    </tr>
    #end
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
