#set($CID = $entity.getValue().replaceAll(".*/CID", ""))

#sparql($structure)
  SELECT (true as ?R) WHERE
  {
    ?S rdf:type sio:SIO_011120.
    ?S sio:SIO_000011 compound:CID$CID.
    ?S sio:SIO_000300 ?V.
  }
#end

#sparql($value)
  SELECT ?VALUE FROM descriptor:compound WHERE
  {
    descriptor:CID${CID}_Preferred_IUPAC_Name sio:SIO_000300 ?VALUE
  }
#end

<table style="width:100%">
  <tr>
    #if($structure.count > 0)
    <td style="width:90px">
      <table style="width:80px">
        <tr>
          <td>
            <img loading='lazy' src="compound/image?w=160&id=$CID" alt="CID$CID" height="80" width="80">
          </td>
        </tr>
      </table>
    </td>
    #end
    <td>
      <table>
        <tr>
          <td><b>CID$CID</b></td>
        </tr>
        #if($value.VALUE > 0)
        <tr>
          <td>
            <span style="white-space: pre-wrap; word-wrap: break-word;">#escapeHTML($value.VALUE)</span>
          </td>
        </tr>
        #end
      </table>
    </td>
  </tr>
</table>
