#set($CID = $entity.toString().replaceAll(".*/CID", "").replaceAll(">",""))

<table style="width:100%">
  <tr>
    <td style="width:90px">
      <table style="width:80px">
        <tr>
          <td>
            <img src="compound/image?w=160&id=$CID" alt="CID$CID" height="80" width="80">
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table>
        <tr>
          <td >
            <b>CID$CID</b>
          </td>
        </tr>
          #sparql($value)
            SELECT ?VALUE WHERE
            {
              GRAPH descriptor:compound
              {
                descriptor:CID${CID}_Preferred_IUPAC_Name sio:has-value ?VALUE
              }
            }
          #end

          #if($value.count > 0)
            <tr>
              <td><span style="white-space: pre-wrap; word-wrap: break-word;">#escapeHTML($value.VALUE)</span></td>
            </tr>
          #end
      </table>
    </td>
  </tr>
</table>
