#sparql($concept)
  SELECT ?LABEL FROM pubchem:concept WHERE
  {
    $entity skos:prefLabel ?LABEL
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($concept.LABEL)
      <td>#escapeHTML($concept.LABEL)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
