#set($PSSMID = $entity.getValue().replaceAll(".*/", ""))

#sparql($title)
  SELECT ?TITLE FROM pubchem:conserveddomain WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>$PSSMID</b></td>
    </tr>
    #if($title.TITLE)
    <tr>
      <td>#escapeHTML($title.TITLE)</td>
    </tr>
    #end
  </tbody>
</table>
