#sparql($endpoint)
  SELECT ?OUTCOME FROM pubchem:endpoint WHERE
  {
    $entity vocab:PubChemAssayOutcome ?OUT.

    VALUES (?OUT ?OUTCOME)
    {
      (vocab:active "active")
      (vocab:inactive "inactive")
      (vocab:inconclusive "inconclusive")
      (vocab:unspecified "unspecified")
    }
  }
#end

#sparql($measurement)
  SELECT ?LABEL ?OPERATOR ?VALUE FROM pubchem:endpoint WHERE
  {
    VALUES (?P ?OPERATOR) {(sio:SIO_000300 ": ") (sio:SIO_000738 " = ") (sio:SIO_000734 " > ") (sio:SIO_000735 " < ") (sio:SIO_000699 " >= ") (sio:SIO_000733 " <= ")}
    $entity ?P ?VALUE.
    $entity rdfs:label ?LABEL.
  }
#end

<table style="width:100%">
  <tbody>
    #if($endpoint.OUTCOME)
    <tr>
      <td>#escapeHTML($endpoint.OUTCOME)</td>
    </tr>
    #end      
    #if($measurement.VALUE)
    <tr>
      <td>#escapeHTML($measurement.LABEL)#escapeHTML($measurement.OPERATOR)#escapeHTML($measurement.VALUE)</td>
    </tr>
    #end
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
