#sparql($enzyme)
  SELECT ?LABEL FROM pubchem:protein WHERE
  {
    $entity skos:prefLabel ?LABEL
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($enzyme.LABEL)
      <td>#escapeHTML($enzyme.LABEL)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
