#set($GID = $entity.getValue().replaceAll(".*/", ""))

#sparql($title)
  SELECT ?TITLE FROM pubchem:gene WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($description)
  SELECT ?DESCRIPTION FROM pubchem:gene WHERE
  {
    $entity dcterms:description ?DESCRIPTION
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>$GID</b></td>
    </tr>
    #if($title.TITLE)
    <tr>
      <td>
        #escapeHTML($title.TITLE)#if($description.DESCRIPTION): #escapeHTML($description.DESCRIPTION)#end
      </td>
    </tr>
    #end
  </tbody>
</table>
