#set($GID = $entity.getValue().replaceAll(".*/GID", ""))

#sparql($symbol)
  SELECT ?SYMBOL FROM pubchem:gene WHERE
  {
    $entity sio:gene-symbol ?SYMBOL
  }
#end

#sparql($title)
  SELECT ?TITLE FROM pubchem:gene WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:gene FROM dataset:ontology WHERE
  {
    $entity bp:organism / rdfs:label ?NAME
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>GID$GID</b></td>
    </tr>
    #if($title.TITLE || $symbol.SYMBOL)
    <tr>
      <td>
        #if($symbol.SYMBOL)#escapeHTML($symbol.SYMBOL): #end#if($title.TITLE)#escapeHTML($title.TITLE)#end
      </td>
    </tr>
    #end
    #if($organism.NAME)
    <tr>
      <td><small style="color:gray">#escapeHTML($organism.NAME)<small></td>
    </tr>
    #end
  </tbody>
</table>
