#sparql($gene)
  SELECT ?TITLE FROM pubchem:gene WHERE
  {
    $entity skos:prefLabel ?TITLE
  }
#end

#sparql($symbol)
  SELECT ?VALUE FROM pubchem:gene WHERE
  {
    $entity bao:BAO_0002870 / sio:SIO_000300 ?VALUE
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:gene FROM pubchem:taxonomy WHERE
  {
    $entity up:organism / skos:prefLabel ?NAME
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($gene.TITLE || $symbol.VALUE)
      <td>#if($symbol.VALUE)#escapeHTML($symbol.VALUE): #end#if($gene.TITLE)#escapeHTML($gene.TITLE)#end</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    #if($organism.NAME)
    <tr>
      <td>#escapeHTML($organism.NAME)</td>
    </tr>
    #end
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
