#sparql($grant)
  SELECT ?NUMBER FROM pubchem:grant WHERE
  {
    $entity frapo:hasGrantNumber ?NUMBER
  }
#end

#sparql($agency)
  SELECT ?NAME FROM pubchem:grant FROM pubchem:organization WHERE
  {
    $entity frapo:hasFundingAgency / vcard:fn ?NAME
  }
  ORDER BY desc(strlen(?NAME))
  LIMIT 1
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($grant.NUMBER)
      <td>#escapeHTML($grant.NUMBER)#if($agency.NAME) (#escapeHTML($agency.NAME))#end</td>
      #else
      <td><b>$entity.getValue().replaceFirst(".*/", "")</b></td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
