#sparql($organization)
  SELECT (group_concat(?FN ; separator="; ") as ?NAME) FROM pubchem:organization WHERE
  {
    $entity vcard:fn ?FN
  }
  HAVING (count(*) > 0)
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($organization.NAME)
      <td>#escapeHTML($organization.NAME)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
