#sparql($patent)
  SELECT ?TITLE FROM pubchem:patent WHERE
  {
    $entity epo:titleOfInvention ?TITLE
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($patent.TITLE)
      <td>#escapeHTML($patent.TITLE)</td>
      #else
      <td>&numero; $entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
