#sparql($pathway)
  SELECT ?TITLE FROM pubchem:pathway WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:pathway FROM pubchem:taxonomy WHERE
  {
    $entity up:organism / skos:prefLabel ?NAME
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($pathway.TITLE)
      <td>#escapeHTML($pathway.TITLE)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    #if($organism.NAME)
    <tr>
      <td>#escapeHTML($organism.NAME)</td>
    </tr>
    #end
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
