#set($ID = $entity.getValue().replaceAll(".*/", ""))

#sparql($title)
  SELECT ?TITLE FROM pubchem:protein WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:protein FROM pubchem:ontology WHERE
  {
    $entity bp:organism / rdfs:label ?NAME
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>$ID</b></td>
    </tr>
    #if($title.TITLE)
    <tr>
      <td>#escapeHTML($title.TITLE)</td>
    </tr>
    #end
    #if($organism.NAME)
    <tr>
      <td><small style="color:gray">#escapeHTML($organism.NAME)<small></td>
    </tr>
    #end
  </tbody>
</table>
