#set($PID = $entity.getValue().replaceAll(".*/ACC", ""))

#sparql($title)
  SELECT ?TITLE FROM pubchem:protein WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

#sparql($organism)
  SELECT ?NAME FROM pubchem:protein FROM dataset:ontology WHERE
  {
    $entity up:organism / rdfs:label ?NAME
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>ACC$PID</b></td>
    </tr>
    #if($title.TITLE)
    <tr>
      <td>#escapeHTML($title.TITLE)</td>
    </tr>
    #end
    #if($organism.NAME)
    <tr>
      <td><small style="color:gray">#escapeHTML($organism.NAME)<small></td>
    </tr>
    #end
  </tbody>
</table>
