#parse("common/utils.vm")



<table style="width:100%">
  <tbody>
    <tr><td>
      $entity.toString().replaceAll(".*#", "").replaceAll(">","")
    </td></tr>
    <tr><td>
    <small style="color:gray">#escapeIRI($entity)<small>
    </td></tr>
  </tbody>
</table>
