#set($SID = $entity.toString().replaceAll(".*/SID", "").replaceAll(">",""))

#sparql($compound)
  SELECT ?COMPOUND WHERE
  {
    GRAPH pubchem:substance
    {
      $entity sio:CHEMINF_000477 ?COMPOUND
    }
  }
#end

#if($compound.count > 0)
#set($CID = $compound.COMPOUND.toString().replaceAll(".*/CID", "").replaceAll(">",""))
#end

<table style="width:100%">
  <tr>
  
    #if($CID)
    <td style="width:90px">
      <table style="width:80px">
        <tr>
          <td>
            <img src="compound/image?w=160&id=$CID" alt="CID$CID" height="80" width="80">
          </td>
        </tr>
      </table>
    </td>
    #end

    <td>
      <table>
        <tr>
          <td >
            <b>SID$SID</b>
          </td>
        </tr>
        #if($CID)
          #sparql($value)
            SELECT ?VALUE WHERE
            {
              GRAPH descriptor:compound
              {
                descriptor:CID${CID}_Preferred_IUPAC_Name sio:has-value ?VALUE
              }
            }
          #end

          #if($value.count > 0)
            <tr>
              <td><span style="white-space: pre-wrap; word-wrap: break-word;">#escapeHTML($value.VALUE)</span></td>
            </tr>
          #end
        #end
      </table>
    </td>
  </tr>
</table>
