#sparql($substance)
  SELECT ?COMPOUND FROM pubchem:substance WHERE
  {
    $entity sio:CHEMINF_000477 ?COMPOUND
  }
#end

#if($substance.COMPOUND)
  #sparql($compound)
    SELECT ?NAME FROM pubchem:compound FROM descriptor:compound WHERE
    {
      $substance.COMPOUND sio:SIO_000008 ?D.
      ?D rdf:type sio:CHEMINF_000382.
      ?D sio:SIO_000300 ?NAME.
    }
  #end

  #sparql($structure)
    SELECT (true as ?R) FROM pubchem:compound WHERE
    {
      ?S rdf:type sio:SIO_011120.
      ?S sio:SIO_000011 $substance.COMPOUND.
      ?S sio:SIO_000300 ?V.
    }
  #end
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($structure.count > 0)
      <td style="width:90px">
        <table style="width:80px">
          <tbody>
            <tr>
              <td><img loading='lazy' src="compound/image?w=160&id=$substance.COMPOUND.getValue().replaceFirst(".*/CID", "")" height="80" width="80"></td>
            </tr>
          </tbody>
        </table>
      </td>
      #end
      <td>
        <table>
          <tbody>
            <tr>
              #if($compound.NAME)
              <td>#escapeHTML($compound.NAME)</td>
              #else
              <td>$entity.getValue().replaceFirst(".*/", "")</td>
              #end
            </tr>
            <tr>
              <td><small style="color:gray">#escapeIRI($entity)<small></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
