#sparql($data)
  SELECT ?VALUE FROM descriptor:substance WHERE
  {
    $entity sio:SIO_000300 ?VALUE.
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($data.VALUE)
      <td>#escapeHTML($data.VALUE)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
