#parse("common/utils.vm")


<div lang="en" style="-webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; min-width: 500px">
#if($entity)
  #if(!$entity.isLiteral())
    #sparql($type)
      SELECT ?TEMPLATE WHERE
      {
        $entity template:pageTemplate ?TEMPLATE.
      }
    #end

    #if($type.TEMPLATE)
      #parse("page/$type.TEMPLATE.value")
    #else

      #sparql($info)
        SELECT ?TYPE WHERE
        {
          $entity rdf:type ?TYPE.
        }
      #end

      #sparql($triple)
        SELECT ?P WHERE
        {
          $entity ?P ?O.
        }
        LIMIT 1
      #end


      <div style="margin:10px">
        <table cellpadding="10"><tr>
          <td><img width="32px" height="32px" src="images/dialog-information.png"></td>
          <td><b>
            #if($triple.P)
              There is no template for node #escapeIRI($entity)#if($info.TYPE) (type #escapeIRI($info.TYPE))#end.
            #else
              There is no node #escapeIRI($entity) in the database.
            #end
            </b></td>
        </tr></table>
      </div>
    #end
  #else
    ##imposible
    <b>Literal:</b> #escapeHTML($entity)
  #end
#else
    ##imposible
    <b>null</b>
#end
</div>
