#sparql($assay)
  SELECT ?DESCRIPTION FROM ebi:chembl WHERE
  {
    $entity dcterms:description ?DESCRIPTION
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($assay.DESCRIPTION)
      <td>#escapeHTML($assay.DESCRIPTION)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
