#sparql($site)
  SELECT ?NAME FROM ebi:chembl WHERE
  {
    $entity cco:bindingSiteName ?NAME
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($site.NAME)
      <td>#escapeHTML($site.NAME)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
