#set($ID = $entity.getValue().replaceAll(".*/", ""))

#sparql($info)
  SELECT ?NAME WHERE
  {
    $entity cco:bindingSiteName ?NAME
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>binding_site:$ID</b></td>
    </tr>
    #if($info.NAME)
    <tr>
      <td>#escapeHTML($info.NAME)</td>
    </tr>
    #end
  </tbody>
</table>
