#set($ID = $entity.getValue().replaceAll(".*/", ""))

#sparql($info)
  SELECT ?MESH WHERE
  {
    $entity cco:hasMeshHeading ?MESH
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>indication:$ID</b></td>
    </tr>
    #if($info.MESH)
    <tr>
      <td>#escapeHTML($info.MESH)</td>
    </tr>
    #end
  </tbody>
</table>
