#sparql($indication)
  SELECT ?MESH FROM ebi:chembl WHERE
  {
    $entity cco:hasMeshHeading ?MESH
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($indication.MESH)
      <td>#escapeHTML($indication.MESH)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
