#set($ID = $entity.getValue().replaceAll(".*/", ""))

#sparql($info)
  SELECT ?DESCRIPTION WHERE
  {
    $entity cco:mechanismDescription ?DESCRIPTION
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>mechanism:$ID</b></td>
    </tr>
    #if($info.DESCRIPTION)
    <tr>
      <td>#escapeHTML($info.DESCRIPTION)</td>
    </tr>
    #end
  </tbody>
</table>
