#set($ID = $entity.getValue().replaceAll(".*/", ""))

#sparql($info)
  SELECT ?LABEL WHERE
  {
    $entity skos:prefLabel ?LABEL
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>protclass:$ID</b></td>
    </tr>
    #if($info.LABEL)
    <tr>
      <td>#escapeHTML($info.LABEL)</td>
    </tr>
    #end
  </tbody>
</table>
