#sparql($target)
  SELECT ?TITLE FROM ebi:chembl WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($target.TITLE)
      <td>#escapeHTML($target.TITLE)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
