#set($ID = $entity.getValue().replaceAll(".*/", ""))

#sparql($info)
  SELECT ?TITLE WHERE
  {
    $entity dcterms:title ?TITLE
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      <td><b>target:$ID</b></td>
    </tr>
    #if($info.TITLE)
    <tr>
      <td>#escapeHTML($info.TITLE)</td>
    </tr>
    #end
  </tbody>
</table>
