#parse("common/utils.vm")


<style scoped>
#include("css/owl.css")
</style>

#parse("common/label.vm")



<div class="VET-Page">
  <!-- ------------------------------------------------------------------------------------------- -->

  <div class="VET-BoxedSection">
    <div class="VET-Header">Class</div>
    <div>
      <b>#label($entity)</b>
      <br/>
      <small>#escapeIRI($entity)</small>
      <br/>
    </div>
  </div>


  <!-- ------------------------------------------------------------------------------------------- -->
  
  #macro( superlevel $class )
    #sparql($super)
      SELECT ?CLASS FROM pubchem:ontology WHERE
      {
        $class rdfs:subClassOf ?CLASS.
        ##FILTER NOT EXISTS { ?CLASS owl:unionOf ?X }
        FILTER NOT EXISTS { ?CLASS rdf:type owl:Restriction }
        FILTER (?CLASS != $class) #avoid simple type cycle
      }
    #end

    <ul class="hierarchy">
      <li>
        #url($class)#escapeIRI($class)#end
        (#label($class))
      <li>
      #foreach($s in $super)
      <li>#superlevel($s.CLASS)<li>
      #end
    </ul>
  #end
  
  <div class="VET-BoxedSection">
    <div class="VET-Header">Superclass Hierarchy</div>
    <div>
    #superlevel($entity)
    </div>
  </div>
  
  
  <!-- ------------------------------------------------------------------------------------------- -->
  
  #macro( sublevel $class )
    #sparql($super)
      SELECT ?CLASS FROM pubchem:ontology WHERE
      {
        ?CLASS rdfs:subClassOf $class.
        
        ##FILTER NOT EXISTS { ?CLASS owl:unionOf ?X }
        ##FILTER NOT EXISTS { ?CLASS rdf:type owl:Restriction }
        FILTER ( ?CLASS != owl:Nothing )
        FILTER (?CLASS != $class) #avoid simple type cycle
      }
    #end

    <ul class="hierarchy">
      <li>
        #url($class)#escapeIRI($class)#end
        (#label($class))
      <li>
      #foreach($s in $super)
      <li>#sublevel($s.CLASS)<li>
      #end
    </ul>
  #end
  
  <div class="VET-BoxedSection">
    <div class="VET-Header">Subclass Hierarchy</div>
    <div>  
    #sublevel($entity)
    </div>
  </div>
  

  <!-- ------------------------------------------------------------------------------------------- -->

    #sparql($properties)
      SELECT ?PROPERTY FROM pubchem:ontology WHERE
      {
        $entity rdfs:subClassOf ?DOMAIN .
        filter( ?DOMAIN != rdfs:Resource )
        ?PROPERTY rdfs:domain ?DOMAIN .
      }
    #end


  <div class="VET-BoxedSection">
    <div class="VET-Header">Properties</div>
    <div>
    #foreach($property in $properties)
      #if($velocityCount > 1)<br/>#end
	  #url($property.PROPERTY)#escapeIRI($property.PROPERTY)#end (#label($property.PROPERTY))
	  
	  <table style="margin-left: 10px">
        #sparql($domains)
          SELECT ?CLASS FROM pubchem:ontology WHERE
          {
            $property.PROPERTY rdfs:domain ?CLASS .
          }
        #end
		#foreach($domain in $domains)
	    <tr>
	      <td>domain:</td>
	      <td>#url($domain.CLASS)#escapeIRI($domain.CLASS)#end (#label($domain.CLASS))</td>
	    </tr>
        #end

        #sparql($ranges)
          SELECT ?CLASS FROM pubchem:ontology WHERE
          {
            $property.PROPERTY rdfs:range ?CLASS .
          }
        #end
		#foreach($range in $ranges)
	    <tr>
	      <td>range:</td>
	      <td>#url($range.CLASS)#escapeIRI($range.CLASS)#end (#label($range.CLASS))</td>
	    </tr>
	    #end
	    
	    #sparql($cardinalities)
          SELECT ?COUNT FROM pubchem:ontology WHERE
          {
            $entity rdfs:subClassOf ?R.
            ?R rdf:type owl:Restriction.
            ?R owl:onProperty $property.PROPERTY.
            ?R owl:cardinality ?COUNT.
		  }
		#end
		#foreach($cardinality in $cardinalities)
	    <tr>
	      <td>cardinality:</td>
	      <td>#escapeHTML($cardinality.COUNT)</td>
	    </tr>
	    #end
	  </table>
    #end
    </div>
  </div>


  <!-- ------------------------------------------------------------------------------------------- -->

  #sparql($properties)
    SELECT ?PROPERTY FROM pubchem:ontology WHERE
    {
      ##?RANGE rdfs:subClassOf* $entity.
      ##?PROPERTY rdfs:range ?RANGE.
      ?PROPERTY rdfs:range $entity.
    }
  #end

  <div class="VET-BoxedSection">
    <div class="VET-Header">In Range of Properties</div>
    <div>
    #foreach($property in $properties)
      #if($velocityCount > 1)<br/>#end
	  #url($property.PROPERTY)#escapeIRI($property.PROPERTY)#end (#label($property.PROPERTY))
	  
	  <table style="margin-left: 10px">
        #sparql($domains)
          SELECT ?CLASS FROM pubchem:ontology WHERE
          {
            $property.PROPERTY rdfs:domain ?CLASS .
          }
        #end
		#foreach($domain in $domains)
	    <tr>
	      <td>domain:</td>
	      <td>#url($domain.CLASS)#escapeIRI($domain.CLASS)#end (#label($domain.CLASS))</td>
	    </tr>
        #end

        #sparql($ranges)
          SELECT ?CLASS FROM pubchem:ontology WHERE
          {
            $property.PROPERTY rdfs:range ?CLASS .
          }
        #end
		#foreach($range in $ranges)
	    <tr>
	      <td>range:</td>
	      <td>#url($range.CLASS)#escapeIRI($range.CLASS)#end (#label($range.CLASS))</td>
	    </tr>
	    #end
	  </table>
    #end
    </div>
  </div>

</div>
