#macro(superlevelProperties $property $label $depth $count)
  #sparql($superproperties)
    SELECT ?PROPERTY ?LABEL FROM dataset:ontology WHERE
    {
      $property rdfs:subPropertyOf ?PROPERTY.
      ?PROPERTY rdfs:label ?LABEL.
    }
  #end

  #if($superproperties.count == 0)
    &#9632;
  #elseif($count < 128 && $depth < 8)
    &#9662;
  #else
    &#9656;
  #end

  #url($property)#escapeIRI($property)#end (#escapeHTML($label))

  #if($count < 128 && $depth < 8)
    #set($count = $count + $superproperties.count)
    #set($depth = $depth + 1)
    <ul class="hierarchy">
      #foreach($superproperty in $superproperties)
      <li>#superlevelProperties($superproperty.PROPERTY $superproperty.LABEL $depth $count)</li>
      #end
    </ul>
    #set($depth = $depth - 1)
  #end
#end

#macro(sublevelProperties $property $label $depth $count)
  #sparql($subproperties)
    SELECT ?PROPERTY ?LABEL FROM dataset:ontology WHERE
    {
      ?PROPERTY rdfs:subPropertyOf $property.
      ?PROPERTY rdfs:label ?LABEL.
    }
  #end

  #if($subproperties.count == 0)
    &#9632;
  #elseif($count < 128 && $depth < 8)
    &#9662;
  #else
    &#9656;
  #end

  #url($property)#escapeIRI($property)#end (#escapeHTML($label))

  #if($count < 128 && $depth < 8)
    #set($count = $count + $subproperties.count)
    #set($depth = $depth + 1)
    <ul class="hierarchy">
      #foreach($subproperty in $subproperties)
      <li>#sublevelProperties($subproperty.PROPERTY $subproperty.LABEL $depth $count)</li>
      #end
    </ul>
    #set($depth = $depth - 1)
  #end
#end

#sparql($property)
  SELECT ?LABEL FROM dataset:ontology WHERE
  {
    $entity rdfs:label ?LABEL.
  }
#end

#sparql($domains)
  SELECT ?CLASS FROM dataset:ontology WHERE
  {
    $entity rdfs:domain ?CLASS .
  }
#end

#sparql($ranges)
  SELECT ?CLASS FROM dataset:ontology WHERE
  {
    $entity rdfs:range ?CLASS .
  }
#end

#sparql($superproperties)
  SELECT ?PROPERTY ?LABEL FROM dataset:ontology WHERE
  {
    $entity rdfs:subPropertyOf ?PROPERTY.
    ?PROPERTY rdfs:label ?LABEL.
  }
#end

#sparql($subproperties)
  SELECT ?PROPERTY ?LABEL FROM dataset:ontology WHERE
  {
    ?PROPERTY rdfs:subPropertyOf $entity.
    ?PROPERTY rdfs:label ?LABEL.
  }
#end

#parse("common/label.vm")


<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">

  <div class="VET-BoxedSection">
    <div class="VET-Header">Property</div>
    <div>
      #if($property.LABEL)
      <b>#escapeHTML($property.LABEL)</b>
      <br/>
      <small>#escapeIRI($entity)</small>
      #else
      <b>#escapeIRI($entity)</b>
      #end

      #if( $domains.count > 0 || $ranges.count > 0 )
      <hr/>
      <table>
        #foreach($domain in $domains)
        <tr>
          <td>domain:</td>
          <td>#url($domain.CLASS)#escapeIRI($domain.CLASS)#end (#label($domain.CLASS))</td>
        </tr>
        #end

        #foreach($range in $ranges)
        <tr>
          <td>range:</td>
          <td>#url($range.CLASS)#escapeIRI($range.CLASS)#end (#label($range.CLASS))</td>
        </tr>
        #end
      </table>
      #end
    </div>
  </div>

  #if($superproperties.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Superproperty Hierarchy</div>
    <div>
      <ul class="hierarchy">
        <li>
          &#9662;
          #url($entity)#escapeIRI($entity)#end (#if($property.LABEL)#escapeHTML($property.LABEL)#else#escapeIRI($entity)#end)
          #set($count = $superproperties.count)
          <ul class="hierarchy">
            #foreach($superproperty in $superproperties)
            <li>#superlevelProperties($superproperty.PROPERTY $superproperty.LABEL 1 $count)</li>
            #end
          </ul>
        </li>
      </ul>
    </div>
  </div>
  #end

  #if($subproperties.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Subproperty Hierarchy</div>
    <div>
      <ul class="hierarchy">
        <li>
          &#9662;
          #url($entity)#escapeIRI($entity)#end (#if($property.LABEL)#escapeHTML($property.LABEL)#else#escapeIRI($entity)#end)
          #set($count = $subproperties.count)
          <ul class="hierarchy">
            #foreach($subproperty in $subproperties)
            <li>#sublevelProperties($subproperty.PROPERTY $subproperty.LABEL 1 $count)</li>
            #end
          </ul>
        </li>
      </ul>
    </div>
  </div>
  #end

</div>
