#sparql($splash)
  SELECT ?VALUE FROM mona: WHERE
  {
    $entity sio:SIO_000008 ?S.
    ?S rdf:type obo:MS_1002599.
    ?S sio:SIO_000300 ?VALUE
  }
#end

#sparql($peaks)
  SELECT ?POSITION ?ANNOTATION FROM mona: WHERE
  {
    $entity sio:SIO_000369 ?PEAK.
    ?PEAK sio:SIO_000056 ?POSITION.
    ?PEAK sio:SIO_000255 / sio:SIO_000300 ?ANNOTATION
  }
  ORDER BY ?POSITION
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
  </div>

  #if($splash.count > 0)
  <div class="VET-BoxedSection">
    <div>#escapeHTML($splash.VALUE)</div>
  </div>
  #end

  <div class="VET-BoxedSection">
    <table style="width:100%;">
      <tr>
        <td align="center" style="text-align: center;">
          <iframe src="./ms.html#y/mona/$entity.getValue().replaceFirst(".*/([^/]+)_MS", "$1")" title="MS Chart" width="500" height="300" scrolling="no" style="border: none; padding-top: 20px"></iframe>
        </td>
      </tr>
    </table>
  </div>

  #if($peaks.count > 0)
  <div class="VET-BoxedSection">
    <div class="VET-Header">Annotated Peaks</div>
    <div>
      <table class="VET-Table">
        <colgroup>
          <col style="width:220px"/>
          <col/>
        </colgroup>

        #foreach($peak in $peaks)
        <tr>
          <td>$peak.POSITION.getValue()</td>
          <td><span style="white-space: pre-wrap; word-break: break-all;">#escapeHTML($peak.ANNOTATION)</span></td>
        </tr>
        #end
      </table>
    </div>
  </div>
  #end

</div>
