#sparql($family)
  SELECT ?NAME FROM mona: WHERE
  {
    $entity vcard:family-name ?NAME
  }
#end

#sparql($given)
  SELECT ?NAME FROM mona: WHERE
  {
    $entity vcard:given-name ?NAME
  }
#end

#sparql($organization)
  SELECT ?NAME FROM mona: WHERE
  {
    $entity vcard:organization-name ?NAME
  }
#end

#sparql($email)
  SELECT ?VALUE FROM mona: WHERE
  {
    $entity vcard:hasEmail ?VALUE
  }
#end

<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">

  #if($family.count > 0 || $organization.count > 0)
  <div class="VET-BoxedSection">
    <div>
    #if($family.count > 0 || $given.count > 0)
    <div>
      #if($email.count > 0)<a href="$email.VALUE.getValue()">#end
      #if($family.count > 0)
        #if($given.NAME)#escapeHTML($given.NAME)#end #escapeHTML($family.NAME)
      #elseif($given.count > 0)
        #escapeHTML($given.NAME)
      #end
      #if($email.count > 0)</a>#end
    </div>
    #end
    #if($organization.count > 0)
    <div>
      #escapeHTML($organization.NAME)
    </div>
    #end
    </div>
  </div>
  #end

</div>
