<style scoped>
#include("css/owl.css")
</style>

<div class="VET-Page">
  <div class="VET-TitleBox">
    <span class="VET-Title">#escapeIRI($entity)</span>
  </div>

  <div class="VET-BoxedSection">
    <table style="width:100%;">
      <tr>
        <td align="center" style="text-align: center;">
          <img src="wikidata/compound/image?w=800&id=$entity.getValue().replaceFirst(".*/Q", "")" height="400" width="400">
        </td>
      </tr>
    </table>
  </div>

</div>
