#sparql($mesh)
  SELECT ?LABEL FROM mesh:heading WHERE
  {
    $entity rdfs:label ?LABEL
  }
#end

#sparql($type)
  SELECT ?LABEL FROM mesh:heading FROM dataset:ontology WHERE
  {
    $entity rdf:type / rdfs:label ?LABEL
  }
#end

<table style="width:100%">
  <tbody>
    <tr>
      #if($mesh.LABEL)
      <td>#escapeHTML($mesh.LABEL)</td>
      #else
      <td>$entity.getValue().replaceFirst(".*/", "")</td>
      #end
    </tr>
    #if($type.LABEL)
    <tr>
      <td><small>#escapeHTML($type.LABEL)</small></td>
    </tr>
    #end
    <tr>
      <td><small style="color:gray">#escapeIRI($entity)<small></td>
    </tr>
  </tbody>
</table>
