<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default Page -->
  <welcome-file-list>
    <welcome-file>Chemweb.html</welcome-file>
  </welcome-file-list>


  <!-- Cache Filter -->
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.cache.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>


  <!-- Log Filter -->
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.log.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>


  <!-- Piwik Filters -->
  <filter>
    <filter-name>ChemwebPiwikFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.piwik.PiwikFilter</filter-class>
    <init-param><param-name>siteId</param-name><param-value>1</param-value></init-param>
    <init-param><param-name>hostUrl</param-name><param-value>http://localhost/piwik/piwik.php</param-value></init-param>
    <init-param><param-name>authToken</param-name><param-value>piwikAuthToken</param-value></init-param>
    <init-param><param-name>rpc</param-name><param-value>true</param-value></init-param>
  </filter>
  <filter-mapping>
    <filter-name>ChemwebPiwikFilter</filter-name>
    <url-pattern>/chemweb/query</url-pattern>
    <url-pattern>/chemweb/details</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ChebiEndpointPiwikFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.piwik.PiwikFilter</filter-class>
    <init-param><param-name>siteId</param-name><param-value>1</param-value></init-param>
    <init-param><param-name>hostUrl</param-name><param-value>http://localhost/piwik/piwik.php</param-value></init-param>
    <init-param><param-name>authToken</param-name><param-value>piwikAuthToken</param-value></init-param>
    <init-param><param-name>actionName</param-name><param-value>ChEBI SPARQL Endpoint</param-value></init-param>
    <init-param><param-name>replaceUrl</param-name><param-value>#/chemweb/endpoint/([a-z]*)/#/$1/endpoint/#</param-value></init-param>
  </filter>
  <filter-mapping>
    <filter-name>ChebiEndpointPiwikFilter</filter-name>
    <url-pattern>/endpoint/sachem/chebi</url-pattern>
    <url-pattern>/endpoint/sparql/chebi</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ChemblEndpointPiwikFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.piwik.PiwikFilter</filter-class>
    <init-param><param-name>siteId</param-name><param-value>1</param-value></init-param>
    <init-param><param-name>hostUrl</param-name><param-value>http://localhost/piwik/piwik.php</param-value></init-param>
    <init-param><param-name>authToken</param-name><param-value>piwikAuthToken</param-value></init-param>
    <init-param><param-name>actionName</param-name><param-value>ChEMBL SPARQL Endpoint</param-value></init-param>
    <init-param><param-name>replaceUrl</param-name><param-value>#/chemweb/endpoint/([a-z]*)/#/$1/endpoint/#</param-value></init-param>
  </filter>
  <filter-mapping>
    <filter-name>ChemblEndpointPiwikFilter</filter-name>
    <url-pattern>/endpoint/sachem/chembl</url-pattern>
    <url-pattern>/endpoint/sparql/chembl</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>DrugbankEndpointPiwikFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.piwik.PiwikFilter</filter-class>
    <init-param><param-name>siteId</param-name><param-value>1</param-value></init-param>
    <init-param><param-name>hostUrl</param-name><param-value>http://localhost/piwik/piwik.php</param-value></init-param>
    <init-param><param-name>authToken</param-name><param-value>piwikAuthToken</param-value></init-param>
    <init-param><param-name>actionName</param-name><param-value>DrugBank SPARQL Endpoint</param-value></init-param>
    <init-param><param-name>replaceUrl</param-name><param-value>#/chemweb/endpoint/([a-z]*)/#/$1/endpoint/#</param-value></init-param>
  </filter>
  <filter-mapping>
    <filter-name>DrugbankEndpointPiwikFilter</filter-name>
    <url-pattern>/endpoint/sachem/drugbank</url-pattern>
    <url-pattern>/endpoint/sparql/drugbank</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>PubchemEndpointPiwikFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.piwik.PiwikFilter</filter-class>
    <init-param><param-name>siteId</param-name><param-value>1</param-value></init-param>
    <init-param><param-name>hostUrl</param-name><param-value>http://localhost/piwik/piwik.php</param-value></init-param>
    <init-param><param-name>authToken</param-name><param-value>piwikAuthToken</param-value></init-param>
    <init-param><param-name>actionName</param-name><param-value>PubChem SPARQL Endpoint</param-value></init-param>
    <init-param><param-name>replaceUrl</param-name><param-value>#/chemweb/endpoint/([a-z]*)/#/$1/endpoint/#</param-value></init-param>
  </filter>
  <filter-mapping>
    <filter-name>PubchemEndpointPiwikFilter</filter-name>
    <url-pattern>/endpoint/sachem/pubchem</url-pattern>
    <url-pattern>/endpoint/sparql/pubchem</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>EmptyEndpointPiwikFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.piwik.PiwikFilter</filter-class>
    <init-param><param-name>siteId</param-name><param-value>1</param-value></init-param>
    <init-param><param-name>hostUrl</param-name><param-value>http://localhost/piwik/piwik.php</param-value></init-param>
    <init-param><param-name>authToken</param-name><param-value>piwikAuthToken</param-value></init-param>
    <init-param><param-name>actionName</param-name><param-value>Empty SPARQL Endpoint</param-value></init-param>
    <init-param><param-name>replaceUrl</param-name><param-value>#/chemweb/endpoint/([a-z]*)/#/$1/endpoint/#</param-value></init-param>
  </filter>
  <filter-mapping>
    <filter-name>EmptyEndpointPiwikFilter</filter-name>
    <url-pattern>/endpoint/sachem/empty</url-pattern>
    <url-pattern>/endpoint/sparql/empty</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>NeXtProtEndpointPiwikFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.piwik.PiwikFilter</filter-class>
    <init-param><param-name>siteId</param-name><param-value>1</param-value></init-param>
    <init-param><param-name>hostUrl</param-name><param-value>http://localhost/piwik/piwik.php</param-value></init-param>
    <init-param><param-name>authToken</param-name><param-value>piwikAuthToken</param-value></init-param>
    <init-param><param-name>actionName</param-name><param-value>NeXtProt SPARQL Endpoint</param-value></init-param>
    <init-param><param-name>replaceUrl</param-name><param-value>#/chemweb/endpoint/([a-z]*)/#/$1/endpoint/#</param-value></init-param>
  </filter>
  <filter-mapping>
    <filter-name>NeXtProtEndpointPiwikFilter</filter-name>
    <url-pattern>/endpoint/sparql/nextprot</url-pattern>
  </filter-mapping>


  <!-- ChemWeb Servlets -->
  <servlet>
    <servlet-name>CheckServiceServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.services.check.CheckServiceImpl</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServiceServlet</servlet-name>
    <url-pattern>/chemweb/check</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueryServiceServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.services.query.QueryServiceImpl</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServiceServlet</servlet-name>
    <url-pattern>/chemweb/query</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DetailsPageServiceServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.services.details.DetailsPageServiceImpl</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsPageServiceServlet</servlet-name>
    <url-pattern>/chemweb/details</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CompoundImage</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.sources.CompoundImageServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>jdbc:images-pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompoundImage</servlet-name>
    <url-pattern>/compound/image</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Hints</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.hints.GenerateHints</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hints</servlet-name>
    <url-pattern>/chemweb/js/sparql-hint-data.js</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Config</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.config.GenerateConfig</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Config</servlet-name>
    <url-pattern>/chemweb/js/config.js</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Examples</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.examples.GenerateExamples</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Examples</servlet-name>
    <url-pattern>/chemweb/js/examples-data.js</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download/helper/query.sparql</url-pattern>
  </servlet-mapping>


  <!-- SPARQL Endpoint Servlets -->
  <servlet>
    <servlet-name>ChebiEndpointServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.endpoint.EndpointServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:sachem-chebi</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChebiEndpointServlet</servlet-name>
    <url-pattern>/endpoint/sachem/chebi</url-pattern>
    <url-pattern>/endpoint/sparql/chebi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChemblEndpointServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.endpoint.EndpointServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:sachem-chembl</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChemblEndpointServlet</servlet-name>
    <url-pattern>/endpoint/sachem/chembl</url-pattern>
    <url-pattern>/endpoint/sparql/chembl</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DrugbankEndpointServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.endpoint.EndpointServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:sachem-drugbank</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrugbankEndpointServlet</servlet-name>
    <url-pattern>/endpoint/sachem/drugbank</url-pattern>
    <url-pattern>/endpoint/sparql/drugbank</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PubChemEndpointServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.endpoint.EndpointServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:sachem-pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PubChemEndpointServlet</servlet-name>
    <url-pattern>/endpoint/sachem/pubchem</url-pattern>
    <url-pattern>/endpoint/sparql/pubchem</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmptyEndpointServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.endpoint.EndpointServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:empty</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmptyEndpointServlet</servlet-name>
    <url-pattern>/endpoint/sachem/empty</url-pattern>
    <url-pattern>/endpoint/sparql/empty</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NeXtProtEndpointServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.endpoint.EndpointServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>sparql:nextprot</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NeXtProtEndpointServlet</servlet-name>
    <url-pattern>/endpoint/sparql/nextprot</url-pattern>
  </servlet-mapping>


  <!-- Sachem Image Servlets -->
  <servlet>
    <servlet-name>ChebiCompoundImage</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.sources.CompoundImageServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>jdbc:images-chebi</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChebiCompoundImage</servlet-name>
    <url-pattern>/chebi/compound/image</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChemblCompoundImage</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.sources.CompoundImageServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>jdbc:images-chembl</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChemblCompoundImage</servlet-name>
    <url-pattern>/chembl/compound/image</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DrugbankCompoundImage</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.sources.CompoundImageServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>jdbc:images-drugbank</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrugbankCompoundImage</servlet-name>
    <url-pattern>/drugbank/compound/image</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PubChemCompoundImage</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.sources.CompoundImageServlet</servlet-class>
    <init-param><param-name>resource</param-name><param-value>jdbc:images-pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PubChemCompoundImage</servlet-name>
    <url-pattern>/pubchem/compound/image</url-pattern>
  </servlet-mapping>


  <!-- Sachem Statistics Servlet -->
  <servlet>
    <servlet-name>SachemEndpointStatisticsServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.endpoint.SachemEndpointStatisticsServlet</servlet-class>
    <init-param><param-name>resource-chebi</param-name><param-value>jdbc:sachem-chebi</param-value></init-param>
    <init-param><param-name>resource-chembl</param-name><param-value>jdbc:sachem-chembl</param-value></init-param>
    <init-param><param-name>resource-drugbank</param-name><param-value>jdbc:sachem-drugbank</param-value></init-param>
    <init-param><param-name>resource-pubchem</param-name><param-value>jdbc:sachem-pubchem</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SachemEndpointStatisticsServlet</servlet-name>
    <url-pattern>/endpoint/statistics.json</url-pattern>
  </servlet-mapping>


  <!-- SPARQL Configurations -->
  <resource-env-ref>
    <description>PubChem SPARQL configuration</description>
    <resource-env-ref-name>sparql:pubchem</resource-env-ref-name>
    <resource-env-ref-type>cz.iocb.chemweb.server.sparql.config.pubchem.PubChemConfiguration</resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
    <description>Sachem/ChEBI SPARQL configuration</description>
    <resource-env-ref-name>sparql:sachem-chebi</resource-env-ref-name>
    <resource-env-ref-type>cz.iocb.chemweb.server.sparql.config.sachem.ChebiConfiguration</resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
    <description>Sachem/ChEMBL SPARQL configuration</description>
    <resource-env-ref-name>sparql:sachem-chembl</resource-env-ref-name>
    <resource-env-ref-type>cz.iocb.chemweb.server.sparql.config.sachem.ChemblConfiguration</resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
    <description>Sachem/DrugBank SPARQL configuration</description>
    <resource-env-ref-name>sparql:sachem-drugbank</resource-env-ref-name>
    <resource-env-ref-type>cz.iocb.chemweb.server.sparql.config.sachem.DrugbankConfiguration</resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
    <description>Sachem/PubChem SPARQL configuration</description>
    <resource-env-ref-name>sparql:sachem-pubchem</resource-env-ref-name>
    <resource-env-ref-type>cz.iocb.chemweb.server.sparql.config.sachem.PubChemConfiguration</resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
    <description>Empty SPARQL configuration</description>
    <resource-env-ref-name>sparql:empty</resource-env-ref-name>
    <resource-env-ref-type>cz.iocb.chemweb.server.sparql.config.empty.EmptyConfiguration</resource-env-ref-type>
  </resource-env-ref>

</web-app>
