<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">



  <!-- Cache Filter -->
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.cache.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>


  <!-- Log Filter -->
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.log.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>


  <!-- Log Filter -->
  <filter>
    <filter-name>PiwikFilterQuery</filter-name>
    <filter-class>cz.iocb.chemweb.server.filters.piwik.PiwikFilter</filter-class>
    <init-param>
      <param-name>siteId</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>hostUrl</param-name>
      <param-value>http://localhost/piwik/piwik.php</param-value>
    </init-param>
    <init-param>
      <param-name>authToken</param-name>
      <param-value>5997045117f26014cce5de5c4a071ce0</param-value>
    </init-param>
    <init-param>
      <param-name>rpc</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PiwikFilterQuery</filter-name>
    <url-pattern>/chemweb/query</url-pattern>
    <url-pattern>/chemweb/details</url-pattern>
  </filter-mapping>



  <!-- Servlets -->
   <servlet>
    <servlet-name>CheckServiceServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.services.check.CheckServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServiceServlet</servlet-name>
    <url-pattern>/chemweb/check</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueryServiceServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.services.query.QueryServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServiceServlet</servlet-name>
    <url-pattern>/chemweb/query</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>DetailsPageServiceServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.services.details.DetailsPageServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsPageServiceServlet</servlet-name>
    <url-pattern>/chemweb/details</url-pattern>
  </servlet-mapping>

  <!--
  <servlet>
    <servlet-name>Sources</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.sources.SourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sources</servlet-name>
    <url-pattern>/sources</url-pattern>
  </servlet-mapping>
 -->

  <servlet>
    <servlet-name>CompoundImage</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.sources.CompoundImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompoundImage</servlet-name>
    <url-pattern>/compound/image</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Config</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.config.GenerateConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Config</servlet-name>
    <url-pattern>/chemweb/js/config.js</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Hints</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.hints.GenerateHints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hints</servlet-name>
    <url-pattern>/chemweb/js/sparql-hint-data.js</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Examples</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.examples.GenerateExamples</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Examples</servlet-name>
    <url-pattern>/chemweb/js/examples-data.js</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>cz.iocb.chemweb.server.servlets.download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download/helper/query.sparql</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Chemweb.html</welcome-file>
  </welcome-file-list>

</web-app>
