<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

    <appender name="service.log" class="org.apache.log4j.FileAppender">
        <param name="file" value="${catalina.base}/logs/service.log" />
        <param name="append" value="true" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%X{remoteaddr}] [%c{1}] %m%n" />
        </layout>
    </appender>

    <logger name="cz.iocb.chemweb">
        <level value="INFO" />
        <!-- <appender-ref ref="console" /> -->
        <!-- <appender-ref ref="service.log" /> -->
    </logger>

</log4j:configuration>
