#macro( escapeHTML $entity )$utils.escapeHtml($entity)#end
#macro( escapeIRI $entity )$utils.prefixedIRI($entity)#end
#macro( entityID $entity )$utils.nodeId($entity)#end

#macro( escapeVal $node )
"#escapeHTML($node)"##
#if($node.getLanguage())
@$node.getLanguage()
#elseif($node.getDatatype())
^^#escapeIRI($node.getDatatype())
#end
#end
